.logo-nav{
    height: 60px;
    width: auto;
}


/*Bootstrap*/

.logo-nav:hover {
    transform: scale(1.2); /* Aumenta la escala al 120% en el hover */
    transition: transform 0.4s ease; /* Agrega una transición suave */
}

